.App {
  text-align: center;
}

.App-logo {
  
}



.App-header {
  
}

.App-link {

}

.navIcon{
  color: white;
}

.fa-sign-in-alt{
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
